body{
 background-image: url('../img/akan.jpeg');
 background-repeat: no-repeat;
 background-size:cover;
 
 text-align:center;

}
h1{
    text-align: center;
    background-color: mediumslateblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
p{
    align-content: center;
    width:40%;
    padding-left: 400px;
    color:white;
}
form{

}