body{
 background-image: url ('akan.jpeg');
 
 text-align:center;

}
h1{
    text-align: center;
    background-color: mediumslateblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
p{
    align-content: center;
    width:40%;
    padding-left: 400px;
}
form{

}